body {
    margin: 0;
    overflow: hidden;
}

.wrapper {
    text-align: center;

    img {
        width: 1920px;
        height: 8000px;
        height: auto;
        z-index: -20;
        position: relative;
        animation: moveSky 33s linear;
    }

    .shuttle {
        position: fixed;
        right: 45vw;
        top: 25vh;
        animation: eject 13s linear;



        #svg8 {
            width: 250px;
            z-index: 10;
        }
    }

    .sat {
        position: relative;
        bottom: 200vh;
        left: 25vw;
        img {
            width: 100px;
        }
    }

    .moon {
        position: relative;
        bottom: 400vh;
        left: 25vw;
        img {
            width: 250px;
        }    }

    .mars {
        position: relative;
        bottom: 600vh;
        left: -16vw;
        z-index:0;
        img {
            width: 350px;
        }    }
}

@keyframes eject {
    from {
        top: 55vh;
    }

    to {
        top: 25vh;
    }
}

@keyframes moveSky {
    from {
        bottom: 920vh;
    }

    to {
        bottom: 15vh;
    }
}